<% @promotion.each do |promotion| %>
  <h3>Natal</h3>
  <dl>
    <dt>Descrição</dt>
    <dd>Promoção de Natal</dd>
    <dt>Desconto <small>em porcentagem</small></dt>
    <dd>10,00%</dd>
  </dl>
<% end %>
