<div class="container">
  <%= link_to 'Voltar', root_path, class: 'btn btn-primary' %>

  <%= link_to 'Criar Promoção', new_promotion_path, class: 'btn btn-primary' %>

  <% if @promotions.empty? %>
    <h3>Nenhuma promoção cadastrada</h3>
  <% end %>

  <div class="row mb-2">
    <% @promotions.each do |promotion| %>
      <%= render promotion %>
    <% end %>
  </div>
</div>