<div class="container">
  <h1>Registrar uma promoção</h1>

  <% if @promotion.errors.any? %>
    <h4>Não foi possível salvar encontramos alguns errors:</h4>
    <ul>
      <% @promotion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <%= render 'form', promotion: @promotion %>
</div>